.flexContainer {
    display: flex;
}

.inputField {
    flex: 1;
}

.button-mic {
    border: 0;
    background: none;
	border-radius: 6px;
/*     -webkit-box-shadow: 0px 0px 2px 4px green;
	box-shadow: 0px 0px 2px 4px green; */
}

.button-mic:active {
	outline: none;
	border: none;
}

.button-mic:focus {
	outline:0;
}

.button-mic.img {
	border-radius: 6px;
	width: 25px;
	height: 25px;
	margin: 0;
}