.flexContainer {
    display: flex;
}

.inputField {
    flex: 1;
}

.form-pad {
	padding-bottom: 10px;
}

.button-delete {
	position: absolute;
	top: 3px;
	right: 3px;
    background: none;
	border-radius: 6px;
	border: 2px solid #ff4141;
}

.button-delete span {
	color: #ff4141;
}

.button-mic {
    border: 0;
    background: none;
	border-radius: 6px;
}

.button-mic:active {
	outline: none;
	border: none;
}

.button-mic:focus {
	outline:0;
}

.button-mic.img {
	border-radius: 6px;
	width: 25px;
	height: 25px;
	margin: 0;
}

.obs-table {
	border: 3px solid DarkGrey;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.cell {
	background: WhiteSmoke;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	font-size: 15px;
	padding: 6px 8px 8px 8px;
}

.cell-top {
	border-top: none;
}

.cell-left {
	border-left: none;
}

.cell-right {
	border-right: none;
}

.cell-bottom {
	border-bottom: none;
}

.cell-head {
	font-weight: bold;
}

.cell-empty {
	border-top: 1px solid WhiteSmoke;
	border-bottom: 1px solid WhiteSmoke;
}

.cell-last {
	border-bottom: 1px solid #ddd;
}

.obs-grade {
	padding-right: 3px;
}

.smile {
	padding: 3px 5px;
}

.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

@media screen and (max-width: 767px) {
	.row-eq-height {
		display: inline;
		margin: 0;
	}
	
	.obs-table {
		padding-right: 0px;
    	padding-left: 0px;
	}
	
	.cell {
		border-top: none;
		border-right: none;
		border-left: none;
		border-bottom: 2px solid #ddd;
	}

	.cell-empty {
		display: none;
	}

	.cell-head {
		background: Silver;
		border-top: 2px solid DarkGrey;
		border-bottom: 2px solid DarkGrey;
	}
	
	.cell-head.cell-top {
		border-top: none;
	}
	
	.obs-grade {
		border-bottom: 2px solid DarkGrey;
	}
	
	.obs-grade.cell-last {
		border-bottom: none;
	}
	
	.obs-grade.cell-bottom {
		border-bottom: none;
	}
}