.flexContainer {
    display: flex;
}

.inputField {
    flex: 1;
}

.button-mic {
    border: 0;
    background: none;
	border-radius: 6px;
/*     -webkit-box-shadow: 0px 0px 2px 4px green;
	box-shadow: 0px 0px 2px 4px green; */
}

.button-mic:active {
	outline: none;
	border: none;
}

.button-mic:focus {
	outline:0;
}

.button-mic.img {
	border-radius: 6px;
	width: 25px;
	height: 25px;
	margin: 0;
}

.obs {
	resize: none;
	border: none;
}

.obs-grade {
    /* -webkit-box-shadow: inset 2px 2px 2px #8000ff;
    -moz-box-shadow: inset 2px 2px 2px #8000ff;
    box-shadow: inset 0px 0px 10px 3px #8000ff ; */
}

.smile {
	padding: 3px 5px;
}

@media screen and (max-width: 767px) {
	.table-responsive {
		border: none;
	}

	.inputField {
		width: 240px;
		max-width: 240px;
	}
}