.flexContainer {
    display: flex;
}

.inputField {
    flex: 1;
}

.button-mic {
    border: 0;
    background: none;
	border-radius: 6px;
}

.button-mic:active {
	outline: none;
	border: none;
}

.button-mic:focus {
	outline:0;
}

.button-mic.img {
	border-radius: 6px;
	width: 25px;
	height: 25px;
	margin: 0;
}

.obs-table {
	border: 3px solid DarkGrey;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.obs {
	resize: none;
	border: none;
	outline: none;
}

.cell {
	background: WhiteSmoke;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

.cell-top {
	border-top: none;
}

.cell-left {
	border-left: none;
}

.cell-right {
	border-right: none;
}

.cell-bottom {
	border-bottom: none;
}

.head-time {
	font-weight: bold;
	border-bottom: 1px solid WhiteSmoke;
}

.head-merge {
	border-top: 1px solid WhiteSmoke;
	border-bottom: 1px solid WhiteSmoke;
}

.head-last {
	border-bottom: 2px solid #ddd;
}

.head-last.cell-bottom {
	border-bottom: none;
}

.row [class^=col-] {
	font-size: 15px;
	padding: 6px 8px 8px 8px;
}

.smile {
	padding: 3px 5px;
}

.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

@media screen and (max-width: 767px) {
	.row-eq-height {
		display: inline;
		margin: 0;
	}
	.obs-table {
		border: none;
	}
	.head-merge {
		display: none;
	}
	
	.cell {
		border-top: none;
		border-bottom: 2px solid #ddd;
		border-right: 2px solid grey;
		border-left: 2px solid grey;
	}
	
	.head-time {
		background: Silver;
		border: 3px solid grey;
	}
	
	.cell.obs-grade {
		border-bottom: 2px solid grey;
	}
}