<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: head">
    <title>Mon compte</title>
</head>
<head>
	<link href="/css/account.css" rel="stylesheet" />
    <script src="/scripts/password.js"></script>
</head>
<body>
	<div th:replace="header :: navbar"></div>
	<div id="main-content" class="container">
   		<div th:if="${param.error}" class="alert alert-danger">
   			Mot de passe incorrect.
 		</div>
   		<div th:if="${param.success}" class="alert alert-success">
   			Le mot de passe a bien été modifié.
 		</div>
		<h2>Mon compte</h2>
		<div class="well">
			<div class="width250">
				<label for="name" class="control-label">Nom </label>
				<input id="name" class="form-control" th:placeholder="${name}" disabled="disabled"/>
				<label for="email" class="control-label">Email </label>
				<input id="email" class="form-control" th:placeholder="${email}" disabled="disabled"/>
			</div>
		</div>
		<div class="well clearfix">
			<h3>Changer de mot de passe</h3>
	   		<div id="error" class="alert alert-danger"></div>
	    	<form action="#" id="form-password" th:action="@{/account}" th:object="${form}" method="post">
	    		<div class="form-group">
			    	<label for="oldPassword">Ancien mot de passe : </label>
			    	<input class="form-control" id="oldPassword" type="password" th:field="*{oldPassword}" th:value="*{oldPassword}" placeholder="obligatoire" required="required"/>
	    		</div>
	    		<div class="form-group">
			    	<label for="newPassword">Nouveau mot de passe : </label>
			    	<input class="form-control" id="newPassword" type="password" th:field="*{newPassword}" th:value="*{newPassword}" placeholder="obligatoire" required="required"/>
	    		</div>
	    		<div class="form-group">
			    	<label for="repeat">Répétez le mot de passe : </label>
			    	<input class="form-control" id="repeat" type="password" placeholder="obligatoire" required="required"/>
	    		</div>
	    		<div class="form-group">
					<button class="btn btn-success pull-right" type="submit"><span class="glyphicon glyphicon-ok"></span> Valider</button>
				</div>
	    	</form>
		</div>
	</div>
</body>
</html>