<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: head">
    <title id="pageTitle">Observation</title>
</head>
<head>
	<script src="/scripts/accompanist.js"></script>
</head>
<body>

	<!--<form id="delete-form" th:action="@{/accompanist/delete}" th:object="${delForm}" method="post">
		<input id="accompanistId" type="hidden" th:field="*{accompanistId}"></input>
    	<input type="hidden" th:value="*{accompanistId}" th:field="*{accompanistId}"/>
    	<input type="hidden" th:value="*{subjectId}" th:field="*{subjectId}"/>
	</form>-->

	<div th:replace="header :: navbar"></div>
	<div id="main-content" class="container">
		<h2>Accompanists</h2>

		<form id="form" th:action="@{/accompanist}" th:object="${form}" method="post">
		    <div class="table-responsive">
		    	<table class="table table-bordered">
		    		<thead>
			    		<tr class="active">
							<th>Subject</th>
							<th>Accompanists</th>
			    		</tr>
		    		</thead>
		    		<tbody>
		    			<th:block th:each="subject: ${subjects}"
		    				th:with="accompanists=${hashtable.get(subject.id)}">
		    				<th:block th:if="${accompanists.size() == 0}">
		    					<tr>
		    						<td th:text="${subject.firstName + ' ' + subject.lastName}"></td>
				    				<td>
				    					<p></p>
				    				</td>
		    					</tr>
		    				</th:block>
		    				<th:block th:each="accompanist, iStat :${accompanists}">
		    					<tr>
		    						<td th:if="${iStat.first}" th:rowspan="${accompanists.size()}"
		    							th:text="${subject.firstName + ' ' + subject.lastName}"></td>
				    				<td>
										<form id="deleteForm" th:action="@{/accompanist}"  method="post">
				    					 <button id="buttonDelete"  type="button" class="btn btn-delete pull-right" th:onclick="'confirmDeleteMessage(\''+ ${accompanist.firstName} +'\',\''+ ${accompanist.id} +'\',\''+ ${subject.firstName} +'\',\''+ ${subject.id} +'\');'" >
											<span class="glyphicon glyphicon-remove" style="color:red"></span>
										 </button>	
										 <div   th:text="${accompanist.firstName + ' ' + accompanist.lastName + ' - ' + accompanist.email}"></div>
										</form>
									</td>
		    					</tr>
		    				</th:block>
		    			</th:block>
		    			<tr class="success">
		    				<td>
			    				<select class="form-control" style="width: 100%;" th:field="*{subjectId}" required="required">
					        		<option th:each="subject : ${subjects}"
				        			th:text="${subject.firstName + ' ' + subject.lastName}"
				        			th:value="${subject.id}">
					        		</option>
				        		</select>
			        		</td>
			        		<td>
			        			<div class="form-inline form-group">
							    	<label for="lname">Name :</label>
				        			<input id="lname" th:field="*{lastName}" type="text" class="form-control" required="required"/>
			        			</div>
			        			<div class="form-inline form-group">
							    	<label for="fname">Surname :</label>
				        			<input id="fname" th:field="*{firstName}" type="text" class="form-control" required="required"/>
			        			</div>
			        			<div class="form-inline form-group">
							    	<label for="email">Email :</label>
				        			<input id="email" th:field="*{email}" type="email" class="form-control" required="required"/>
								</div>
								<div class="form-inline form-group">
							    	<label for="role">Role :</label>
									<select class="form-control" id="role" th:field="*{roleStr}" required="required">
										<option th:each="role : ${roles}" th:text="${#strings.substringAfter(role.name,'ROLE_')}"
											th:value="${role.name}"></option>
									</select>
			        			</div>
			        		</td>
		    			</tr>
		    		</tbody>
		    	</table>
		    </div>
			<button type="submit" class="btn btn-success pull-right">
				<span class="glyphicon glyphicon-ok"></span> Validate
			</button>
	    </form>
    </div>
    <div th:replace="footer :: footer"></div>
</body>
</html>