<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: head">
    <title id="pageTitle">Changer votre mot de passe </title>
</head>
<head>
	<link href="/css/account.css" rel="stylesheet" />
    <script src="/scripts/password.js"></script>
</head>
<body>
	<div th:replace="header :: navbar"></div>
	<div id="main-content" class="container">
   		<div th:if="${param.error} and ${param.error[0] == 'mismatch'}" class="alert alert-danger">
   			Mot de passe incorrect.
 		</div>
   		<div th:if="${param.error} and ${param.error[0] == 'length'}" class="alert alert-danger">
   			Le mot de passe doit comporter au moins 6 caractères.
 		</div>
   		<div th:if="${param.success}" class="alert alert-success">
   			Le mot de passe a bien été modifié.
 		</div>

		<div class="well clearfix">
			<div id="error" class="alert alert-danger"></div>
	    	<form action="#" id="form-password" th:action="@{/changepassword}"  method="post">
				<h2>Mon compte</h2>
				<div class="well">
					<div class="width250">
						<label for="code" class="control-label">Code </label>
						<input id="code" name="code" class="form-control" th:value="${code}" readonly="true"/>
					
						<label for="email" class="control-label">Email </label>
						<input id="email" name="email" class="form-control" th:value="${email}" readonly="true"/>
					</div>
				</div>
				<div class="form-group">
			    	<label for="newPassword">Nouveau mot de passe : </label>
			    	<input class="form-control" id="newPassword" type="password" name="newPassword"   placeholder="obligatoire" required="required"/>
	    		</div>
	    		<div class="form-group">
			    	<label for="repeat">Répétez le mot de passe : </label>
			    	<input class="form-control" id="repeat" type="password" placeholder="obligatoire" required="required"/>
	    		</div>
	    		<div class="form-group">
					<button class="btn btn-success pull-right" type="submit"><span class="glyphicon glyphicon-ok"></span> Valider</button>
				</div>
	    	</form>
		</div>
	</div>
    <div th:replace="footer :: footer"></div>
</body>
</html>