<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="header :: head">
<title>Login</title>
</head>
<body>
	<div th:replace="header :: navbar"></div>
	<div th:if="${!#authorization.expression('isAuthenticated()')}" id="main-content" class="container">
		<h2 style="padding-bottom: 15px;">Mot de passe oublié</h2>
		<form class="form" th:action="@{/forgot}" method="post">
			<div th:if="${param.error}" class="alert alert-danger">Adresse e-mail inconnu.</div>
			<div class="row">
				<div class="form-group col-md-4">
					<label for="email" class="control-label">Adresse e-mail : </label>
					<input id="email" class="form-control" type="email" name="email" required="required"/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group pull-right">
						<button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-ok"></span> Valider</button>
					</div>
				</div>
			</div>
		</form>
	</div>
    <div th:replace="footer :: footer"></div>
</body>
</html>