<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="form-group" th:fragment="buttons">
		<button class="btn btn-default" type="reset">Reset</button>
		<button class="btn btn-success" type="submit">Valider</button>
	</div>
	<div class="form-group" th:fragment="button-succ">
		<button class="btn btn-success" type="submit">Valider</button>
	</div>
	<div class="form-group" th:fragment="buttons-reset">
		<button class="btn btn-default" type="reset">Reset</button>
	</div>
</body>
</html>