<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: head">
    <title id="pageTitle">Mes Sujets</title>
</head>
<head>
	<script src="/scripts/device.js"></script>
</head>
<body>


	<div th:replace="header :: navbar"></div>
	<div id="main-content" class="container">
		<h2>Mes capteurs</h2>

		<form id="form" th:action="@{/mydevices}" th:object="${device}" method="post">
		    <div class="table-responsive">
		    	<table class="table table-bordered">
		    		<thead>
			    		<tr class="active">
							<th>Sujets</th>
							<th>Capteurs</th>	
			    		</tr>
		    		</thead>
		    		<tbody>
						<th:block th:each="subject: ${subjects}"
						th:with="devices=${hashtable.get(subject.id)}">
						<th:block th:if="${devices.size() == 0}">
							<tr>
								<td th:text="${subject.firstName + ' ' + subject.lastName}"></td>
								<td>
									<p></p>
								</td>
							</tr>
						</th:block>
						<th:block th:each="device, iStat :${devices}">
							<tr>
								<td th:if="${iStat.first}" th:rowspan="${devices.size()}"
									th:text="${subject.firstName + ' ' + subject.lastName}"></td>
								<td>
									<form id="deleteForm" th:action="@{/mydevices}"  method="post">
									 <button id="buttonDelete"  type="button" class="btn btn-delete pull-right" th:onclick="'confirmDeleteMessage(\''+ ${subject.firstName} +'\',\''+ ${device.toString()}+'\',\''+ ${device.id} +'\');'" >
										<span class="glyphicon glyphicon-remove" style="color:red"></span>
									 </button>	
									 <div   th:text="${device.toString()}"></div>
									</form>
								</td>
							</tr>
						</th:block>
					</th:block>
					


						<tr class="success">
							<td>
			    				<select class="form-control" style="width: 100%;" th:field="*{userId}" required="required">
					        		<option th:each="subject : ${subjects}"
				        			th:text="${subject.firstName + ' ' + subject.lastName}"
				        			th:value="${subject.id}">
					        		</option>
				        		</select>
			        		</td>
			        		
							<td>
			        			<button type="submit" class="btn btn-success pull-right">
									<span class="glyphicon glyphicon-ok"></span> Ajouter un nouveau capteur
								</button>
							</td>
						
						</tr>
					
					
		    		</tbody>
		    	</table>
		    </div>
		
	    </form>
    </div>
    <div th:replace="footer :: footer"></div>
</body>
</html>