<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: head">
    <title id="pageTitle">Mes Sujets</title>
</head>
<head>
	<script src="/scripts/subject.js"></script>
</head>
<body>


	<div th:replace="header :: navbar"></div>
	<div id="main-content" class="container">
		<h2>Mes sujets</h2>

		<form id="form" th:action="@{/mysubjects}" th:object="${form}" method="post">
		    <div class="table-responsive">
		    	<table class="table table-bordered">
		    		<thead>
			    		<tr class="active">
							<th>Sujets</th>	
			    		</tr>
		    		</thead>
		    		<tbody>
		    		<th:block th:each="subject: ${subjects}">
		    					<tr>
									<td>
												
											<form id="deleteForm" th:action="@{/mysubjects}"  method="post">
											 <button id="buttonDelete"  type="button" class="btn btn-delete pull-right" th:onclick="'confirmDeleteMessage(\''+ ${subject.firstName} +'\',\''+ ${subject.id} +'\');'" >
												<span class="glyphicon glyphicon-remove" style="color:red"></span>
											 </button>
											 <div th:text="${subject.firstName + ' ' + subject.lastName}"></div>	
											</form>
									</td>
				    			</tr>
		    			
					</th:block>
						<tr class="success">
		    				<td>
			        			<div class="form-inline form-group">
							    	<label for="lname">Nom :&emsp;&emsp;&ensp;</label>
				        			<input id="lname" th:field="*{lastName}" type="text" class="form-control" required="required"/>
			        			</div>
			        			<div class="form-inline form-group">
							    	<label for="fname">Prénom :&emsp;</label>
				        			<input id="fname" th:field="*{firstName}" type="text" class="form-control" required="required"/>
								</div>
								<button type="submit" class="btn btn-success pull-right">
									<span class="glyphicon glyphicon-ok"></span> Ajouter
								</button>
							</td>
						
						</tr>
					
					
		    		</tbody>
		    	</table>
		    </div>
		
	    </form>
    </div>
    <div th:replace="footer :: footer"></div>
</body>
</html>