<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: head">
    <title id="pageTitle">Observation</title>
</head>
<head>
	<link href="/css/microphone.css" rel="stylesheet" />	
    <script src="/scripts/dictation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.min.js"></script>
	<script src="/scripts/bootstrap-datetimepicker.min.js"></script>
	<script src="/scripts/fr.js"></script>
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css" />
</head>
<body>
	<div th:replace="header :: navbar"></div>
	<div id="main-content" class="container">
		<h2 style="padding-bottom: 15px;">Observation du comportement</h2>
		
	    <div th:if="${initForm}" class="row">
	        <div class='col-sm-6'>
	        	<form class="form-horizontal" action="/observation" th:action="@{/observation}" th:object="${form}" method="post">
		            <div class="form-group form-inline">
		                <label class="control-label col-sm-2" for="datetimepicker">Jour : </label>
		                <div style="width: 220px" class='input-group date col-sm-10' id='datetimepicker'>
		                    <input id="date" type='text' class="form-control" th:field="*{date}" required="required"/>
		                    <span class="input-group-addon">
		                        <span class="glyphicon glyphicon-calendar"></span>
		                    </span>
		                </div>
		            </div>
		            <div class="form-group form-inline">
		            	<label class="control-label col-sm-2" for="subject">Sujet : </label>
		            	<select id="subject" class="form-control col-sm-10" th:field="*{subjectId}" required="required">
								<option th:each="subject : ${subjects}"
									th:text="${subject.firstName + ' ' + subject.lastName}"
									th:value="${subject.id}"></option>
						</select>
		            </div>
		            <div class="form-group"> 
						<div class="col-sm-10">
							<button type="submit" class="btn btn-success">Valider</button>
						</div>
  					</div>
	            </form>
	        </div>
	        <script type="text/javascript">
	            $(function () {
	                $('#datetimepicker').datetimepicker({
	                    locale: 'fr',
	                    format: 'DD/MM/YYYY'
	                });
	            });
	        </script>
	    </div>

	    <div th:if="${obsForm}" class="table-responsive">
		    <form th:action="@{/observation/submit}" th:object="${form}" method="post">
		    	<h3 th:text="${form.subjectName}"></h3>
		    	<table class="table table-bordered">
		    		<thead><tr>
						<th>Moment de la journée</th>
						<th>Activités</th>
						<th>Comportement / état émotionnel / ressentis corporels</th>
		    		</tr></thead>
		    		<tbody>
		    			<th:block th:each="time: ${times}"
		    				th:with="descriptions=${hashtable.get(time.chrono)}">
		    				<th:block th:each="description, iStat :${descriptions}">
		    					<tr>
		    						<td th:if="${iStat.first}" th:rowspan="${descriptions.size()}" th:text="${time.name}"></td>
				    				<td th:text="${description.activity}"></td>
				    				<td th:text="${description.behaviour}"></td>
		    					</tr>
		    				</th:block>
		    			</th:block>
		    			<tr id="" class="success">
		    				<th:block ></th:block>
		    				<td>
			    				<select class="form-control" th:field="*{timeId}" required="required">
					        		<option th:each="time : ${times}"
				        			th:text="${time.name}"
				        			th:value="${time.chrono}">
					        		</option>
				        		</select>
		    				</td>
		    				<td>
		    					<div class="flexContainer">
		    						<input id="activity" class="form-control inputField" style="width: 100%;" type="text" th:field="*{activity}" required="required"/>
		    						<button class="button-mic" type="button" onclick="startDictation('activity')"><img src="/img/mic.png" alt="Microphone"/></button>
		    					</div>
		    				</td>
		    				<td>
		    					<div class="flexContainer">
		    						<textarea id="behaviour" class="form-control inputfield" th:field="*{behaviour}" rows="2" required="required"></textarea>
		    						<button class="button-mic" type="button"><img src="/img/mic.png" alt="Microphone" onclick="startDictation('behaviour')"/></button>
		    					</div>
		    				</td>
		    				
		    			</tr>
		    		</tbody>
		    	</table>
		    	<input type="hidden" th:value="*{subjectId}" th:field="*{subjectId}"/>
		    	<input type="hidden" th:value="*{date}" th:field="*{date}"/>
		    	<input type="hidden" th:value="*{subjectId}" th:field="*{subjectId}"/>
				<button type="submit" class="btn btn-success">
					<span class="glyphicon glyphicon-ok"></span> Valider
				</button>
		    </form>
	    </div>
    </div>
</body>
<script src="/scripts/speech-input.js"></script>
</html>