<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <th:block th:fragment="main (canCreate, form)">
    	<th:block th:if="${canCreate}">
	    		<div th:replace="observation-fragments:: table (true, ${form})"></div>
	    </th:block>
    	<th:block th:if="${!canCreate}">
	    	<div th:replace="observation-fragments:: table (false, ${form})"></div>
    	</th:block>
    	
    </th:block>

    <th:block th:fragment="table (canCreate, form)">
		
	    <div th:if="${times.size() > 0}" class="container-fluid obs-table">
   			<th:block th:each="time, iTimeStat: ${times}" th:with="descriptions=${hashtable.get(time.chrono)}">
			   <th:block th:each="description, iStat :${descriptions}">
		    			<div class="row row-eq-height">
		    				<div th:if="${iStat.first}" class="col-xs-12 col-sm-2 cell cell-left cell-head" th:text="${time.name}"
		    					th:classappend="${(iTimeStat.first ? 'cell-top':'') + (!iStat.last or (iTimeStat.last and iStat.last) ? ' cell-bottom':'')}"></div>
		    				<div th:if="${!iStat.first}" class="col-xs-12 col-sm-2 cell cell-left cell-head cell-empty"
		    					th:classappend="${(iStat.last? 'cell-last':'') + (iTimeStat.last and iStat.last ? ' cell-bottom':'')}">&nbsp;</div>
		    				<div class="col-xs-12 col-sm-4 cell" th:if="${description.observator== null}" th:text="(${description.activity}) "
		    					th:classappend="${(iTimeStat.first and iStat.first ? 'cell-top' : '') + (iStat.last and iTimeStat.last ? ' cell-bottom' : '')}">
		    				</div>
							<div class="col-xs-12 col-sm-4 cell" th:if="${description.observator}" th:text="(${description.activity}) + ' (' + (${description.observator.firstName}) +')'"
		    					th:classappend="${(iTimeStat.first and iStat.first ? 'cell-top' : '') + (iStat.last and iTimeStat.last ? ' cell-bottom' : '')}">
		    				</div>
							<div class="col-xs-12 col-sm-6 cell cell-right obs-grade" th:value="${description.grade}"
		    					th:classappend="${(iTimeStat.first and iStat.first ? 'cell-top' : '') + (iStat.last and iTimeStat.last ? ' cell-bottom' : '') + (iStat.last ? ' cell-last' : '')}">
								
								<th:block th:if="${description.observator != null and (#authorization.expression('hasRole(''ADMIN'')') or description.observator.id == userId)}">
								 <form id="deleteForm" th:action="@{/observation}" method="post">
								   <input type="hidden" th:value="${form.date}" th:field="${form.date}"/>
				    	           <input type="hidden" th:value="${form.subjectId}" th:field="${form.subjectId}"/>  
								   <button  type="button" id="buttonDelete" class="pull-right button-delete"  th:onclick="'confirmDeleteMessage(\''+ ${description.id}+'\');'" ><span class="glyphicon glyphicon-remove"></span></button>	
								   <div class="pull-right" style="width:31px; height: 25px">&nbsp;</div>
								 </form>
								</th:block>
							   
		    					<div th:text="${description.behaviour}"></div>
		    				</div>
		    			</div>
    				</th:block>
   			</th:block>
	    </div>
	    <div th:if="${times.size() == 0}">
	    	<div class="container-fluid"><div class ="row"><div class="col-md-4">
	    		<em>Aucune observation</em>
	    	</div></div></div>
	    </div>
	    <th:block th:if="${canCreate}">
			   <h3 th:id="MyObservationChapter"></h3>
           <form id="form" th:action="@{/observation/submit}" th:object="${form}" method="post">

		    <div class="container-fluid">
		    	<div class="row">
		    		<div class="col-md-6 form-pad">
		    			<label for="time" th:id="MyObservationActivityPeriod"></label>
						<select class="form-control" th:field="${form.timeId}" required="required">
					   		<option th:each="time : ${allTimes}"
					  			th:text="${time.name}"	
					  			th:value="${time.chrono}">
					   		</option>
				  		</select>
		    		</div>
		    	</div>
		    	<div class="row form-pad">
		    		<div class="col-md-6">
		    			<label for="activity" th:id="MyObservationActivity"></label>
		    			<div class="flexContainer">
							<input id="activity" class="form-control inputField" type="text" th:field="${form.activity}" maxlength="50" required="required"/>
							<button class="button-mic" type="button" onclick="dictation('activity', this)"><img src="/img/mic.png" alt="Microphone"/></button>
						</div>
		    		</div>
		    	</div>
		    	<div class="row form-pad">
		    		<div class="col-md-6">
		    			<label for="activity" th:id="MyObservationObservations"></label>
						<div class="flexContainer">	
							<button type="button" id="grade-btn" class="btn btn-default smile"><i class="fa fa-smile-o fa-3x" style="color: LimeGreen"></i></button>
							<input id="grade" type="hidden" value="0" th:field="${form.grade}"></input>
							<textarea id="behaviour" class="form-control inputField" th:field="${form.behaviour}" rows="3" maxlength="250"></textarea>
							<button class="button-mic" type="button" onclick="dictation('behaviour', this)"><img src="/img/mic.png" alt="Microphone"/></button>
						</div>
		    		</div>
		    	</div>
		    	<div class="row form-pad" th:if="${canCreate}">
		    		<div class="col-md-6">
				    	<input type="hidden" th:value="${form.date}" th:field="${form.date}"/>
				    	<input type="hidden" th:value="${form.subjectId}" th:field="${form.subjectId}"/>
						<button type="submit" class="btn btn-success pull-right" th:id="AddMyObservation"></button>
		    		</div>
		    	</div>
			</div>
		  </form>
			
		</th:block>
	
    	
   	</th:block>
	<!--<script type="text/javascript" th:inline="javascript">
		checktranslation();
	</script>-->
</body>
<script src="/scripts/speech-input.js"></script>
<!--<script type="text/javascript" th:inline="javascript">
	check();
</script>-->
</html>