<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <th:block th:fragment="main (canCreate, form)">
    	<th:block th:if="${canCreate}">
	    	<form th:action="@{/observation/submit}" th:object="${form}" method="post">
	    		<div th:replace="observation-fragments:: table (true, ${form})"></div>
	    	</form>
    	</th:block>
    	<th:block th:if="${!canCreate}">
	    	<div th:replace="observation-fragments:: table (false, ${form})"></div>
    	</th:block>
    </th:block>
    
    <th:block th:fragment="table (canCreate, form)">
    	<div class="table-responsive">
    	<table class="table table-bordered">
    		<thead><tr class="active">
				<th>Moment de la journée</th>
				<th>Activités</th>
				<th>Comportement / état émotionnel / ressentis corporels</th>
    		</tr></thead>
    		<tbody>
    			<th:block th:each="time: ${times}"
    				th:with="descriptions=${hashtable.get(time.chrono)}">
    				<th:block th:each="description, iStat :${descriptions}">
    					<tr>
    						<td th:if="${iStat.first}" th:rowspan="${descriptions.size()}" th:text="${time.name}"></td>
		    				<td th:with="length=${#strings.length(description.activity)}">
		    					<textarea style="resize: none; border: none;" cols="50" th:rows="${length / 50 + 1}" th:text="${description.activity}" readonly="readonly">
		    					</textarea>
		    				</td>
		    				<td th:with="length=${#strings.length(description.behaviour)}">
		    					<textarea style="resize: none; border: none;" cols="60" th:rows="${length / 60 + 1}" th:text="${description.behaviour}" readonly="readonly">
		    					</textarea>
		    				</td>
    					</tr>
    				</th:block>
    			</th:block>
    			<tr th:if="${canCreate}" class="success">
    				<td>
	    				<select style="min-width: 140px" class="form-control" th:field="${form.timeId}" required="required">
			        		<option th:each="time : ${times}"
		        			th:text="${time.name}"
		        			th:value="${time.chrono}">
			        		</option>
		        		</select>
    				</td>
    				<td>
    					<div class="flexContainer">
    						<input id="activity" class="form-control inputField" style="width: 100%;" type="text" th:field="${form.activity}" maxlength="50" required="required"/>
    						<button class="button-mic" type="button" onclick="dictation('activity', this)"><img src="/img/mic.png" alt="Microphone"/></button>
    					</div>
    				</td>
    				<td>
    					<div class="flexContainer">
    						<textarea id="behaviour" class="form-control inputfield" style="width: 100%;" th:field="${form.behaviour}" rows="2" maxlength="250" required="required"></textarea>
    						<button class="button-mic" type="button" onclick="dictation('behaviour', this)"><img src="/img/mic.png" alt="Microphone"/></button>
    					</div>
    				</td>
    			</tr>
    		</tbody>
    	</table>
    	</div>
     	<th:block th:if="${canCreate}">
	    	<input type="hidden" th:value="${form.date}" th:field="${form.date}"/>
	    	<input type="hidden" th:value="${form.subjectId}" th:field="${form.subjectId}"/>
			<button type="submit" class="btn btn-success pull-right">
				<span class="glyphicon glyphicon-ok"></span> Valider
			</button>
    	</th:block>
   	</th:block>
</body>
<script src="/scripts/speech-input.js"></script>
</html>