<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <th:block th:fragment="main (canCreate, form)">
    	<th:block th:if="${canCreate}">
	    	<form th:action="@{/observation/submit}" th:object="${form}" method="post">
	    		<div th:replace="observation-fragments:: table (true, ${form})"></div>
	    	</form>
    	</th:block>
    	<th:block th:if="${!canCreate}">
	    	<div th:replace="observation-fragments:: table (false, ${form})"></div>
    	</th:block>
    </th:block>
    
    <th:block th:fragment="table (canCreate, form)">
    	<table class="table table-bordered">
    		<thead><tr class="active">
				<th>Moment de la journée</th>
				<th>Activités</th>
				<th>Comportement / état émotionnel / ressentis corporels</th>
    		</tr></thead>
    		<tbody>
    			<th:block th:each="time: ${times}"
    				th:with="descriptions=${hashtable.get(time.chrono)}">
    				<th:block th:each="description, iStat :${descriptions}">
    					<tr>
    						<td th:if="${iStat.first}" th:rowspan="${descriptions.size()}" th:text="${time.name}"></td>
		    				<td th:text="${description.activity}"></td>
		    				<td th:text="${description.behaviour}"></td>
    					</tr>
    				</th:block>
    			</th:block>
    			<tr th:if="${canCreate}" class="success">
    				<td>
	    				<select class="form-control" th:field="${form.timeId}" required="required">
			        		<option th:each="time : ${times}"
		        			th:text="${time.name}"
		        			th:value="${time.chrono}">
			        		</option>
		        		</select>
    				</td>
    				<td>
    					<div class="flexContainer">
    						<input id="activity" class="form-control inputField" style="width: 100%;" type="text" th:field="${form.activity}" required="required"/>
    						<button class="button-mic" type="button" onclick="startDictation('activity')"><img src="/img/mic.png" alt="Microphone"/></button>
    					</div>
    				</td>
    				<td>
    					<div class="flexContainer">
    						<textarea id="behaviour" class="form-control inputfield" th:field="${form.behaviour}" rows="2" required="required"></textarea>
    						<button class="button-mic" type="button"><img src="/img/mic.png" alt="Microphone" onclick="startDictation('behaviour')"/></button>
    					</div>
    				</td>
    			</tr>
    		</tbody>
    	</table>
     	<th:block th:if="${canCreate}">
	    	<input type="hidden" th:value="${form.date}" th:field="${form.date}"/>
	    	<input type="hidden" th:value="${form.subjectId}" th:field="${form.subjectId}"/>
			<button type="submit" class="btn btn-success pull-right">
				<span class="glyphicon glyphicon-ok"></span> Valider
			</button>
    	</th:block>
   	</th:block>
</body>
<script src="/scripts/speech-input.js"></script>
</html>