<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: head">
    <title id="pageTitle">Association Raspberry-Utilisateurs</title>
</head>
<head>
    <link href="/switch.css" rel="stylesheet" />
    <script src="/switch-form.js"></script>
</head>
<body>
	<div th:replace="header :: navbar"></div>
	<div id="main-content" class="container">
		<h2>Association Raspberry</h2>
	    <form action="#" th:action="@{/add/raspberry}" th:object="${raspberryLink}" method="post">
	    	<div class="form-group">
		    	<label for="switch">Créer un nouveau raspberry</label>
	  			<input class="switch" id="switch" type="checkbox" th:field="*{create}"/>
	        </div>
	    	<div class="form-group">
		    	<label for="user">Associer</label>
	        	<select id="user" th:field="*{userId}">
	        		<option th:each="subject : ${subjects}"
	        			th:text="${subject.lastName + ' ' + subject.firstName}"
	        			th:value="${subject.id}">
	        		</option>
	        	</select>
	        </div>
	    	<div class="form-group" id="raspberryList">
	        	<label for="raspberry">au Raspberry</label>
		        <select id="raspberry" th:field="*{raspberryId}">
		        	<option th:each="raspberry : ${raspberries}"
	        			th:text="${raspberry.id}"
	        			th:value="${raspberry.id}">
	        		</option>
		        </select>
	        </div>
    		<div th:replace="form :: button-succ"></div>
	    </form>
    </div>
</body>
</html>