<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="header :: head">
	<title id="pageTitle">Réglages</title>
	<th:block th:fragment="head-inc">
	<link href="/css/settings.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.min.js"></script>
	<script src="/scripts/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css"/>
	<script src="/scripts/fr.js"></script>
	<script th:inline="javascript" src="/scripts/settings.js"></script>
	</th:block>
</head>
<body>
	<div th:replace="header :: navbar"></div>
	<div id="main-content" class="container">
		<div th:if="${param.suggestion}" class="alert alert-info">Merci, nous avons bien reçu votre suggestion.</div>
		<h2>Réglages</h2>
		<th:block sec:authorize="hasRole('ROLE_PARENT') or hasRole('ROLE_ADMIN')">
			<div class="row">
				<div class="col-md-5 col-xs-5">
					<h3><span class="glyphicon glyphicon-bed"></span> Horaires de sommeil</h3>
				</div>
				<div class="col-md-5 col-xs-5">
					<h3><span class="glyphicon glyphicon-envelope"></span> Recevoir le rapport par mail quotidiennment</h3>
				</div>
			</div>
			<th:block th:each="form,iter: ${forms}">
				<div class="well well-sm">
					<h4 th:text="${form.name}"></h4>
					<div class="row">
						<form class="form-night" th:action="@{/settings/sleep}" th:object="${nightForm}"  method="post">
							<div class="col-md-2 col-xs-5">
								<div class="form-group">
					                <label class="control-label" for="dpStart">Couché </label>
					                <div class="input-group date sleep-start" id="dpStart">
					                    <input type="button" class="form-control" maxlength="5" name="sleepStart" id="sleepStart" th:value="${form.sleepStart}" required="required"/>
					                    <span class="input-group-addon">
					                        <span class="glyphicon glyphicon-time"></span>
					                    </span>
					                </div>
				                </div>
							</div>
							<div class="col-md-2 col-xs-5">
								<div class="form-group">
					                <label class="control-label" for="dpEnd">Levé </label>
					                <div class="input-group date sleep-end" id="dpEnd">
					                    <input type='button' class="form-control" maxlength="5" name="sleepEnd" id="sleepEnd" th:value="${form.sleepEnd}" required="required"/>
					                    <span class="input-group-addon">
					                        <span class="glyphicon glyphicon-time"></span>
					                    </span>
					                </div>
				                </div>
							</div>
							<div class="col-md-1 col-xs-5">
							</div>
							<div class="col-md-5 col-xs-5">
								<input type="checkbox" id="emailON" name="emailON" th:attr="value = ${form.emailON}" th:checked="${EmailOnStatus[(iter.count)-1]}" />
								<label th:for="${#ids.next('emailON')}">  Oui <span class="glyphicon glyphicon-check"></span> , NON <span class="glyphicon glyphicon glyphicon-unchecked"></span>  <a title = "Si vous cochez cette case, tout les accompagnateurs recevront quotidiennement par email un rapport du sommeil. Si vous la décochez, alors personne ne recevra quotidiennement d'email. "> <span class ="glyphicon glyphicon-info-sign"> </span> </a> </label>
							</div>
							<input type="hidden" th:value="${form.subjectId}" id="subjectId" name="subjectId"/>
							<div class="col-md-1 col-xs-1">
								<button type="submit" class="btn btn-success dp-submit"><span class="glyphicon glyphicon-ok"></span></button>
							</div>
						</form>
					</div>
				</div>
			</th:block>
		</th:block>
		<h3><span class="glyphicon glyphicon-star-empty"></span> Suggestions</h3>
		<form id="suggestionForm" th:action="@{/settings/suggestion}" th:object="${suggestionForm}" method="post">
			<div class="row">
				<div class="col-md-8">
					<textarea class="form-control" rows="10" maxlength="500" form="suggestionForm" th:field="*{suggestion}" required="required" placeholder="Laissez-nous ici vos remarques, avis, problèmes rencontrés, idées d'amélioration..."></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<button class="btn btn-info pull-right sugg-submit"><span class="glyphicon glyphicon-send"></span> Envoyer</button>
				</div>
			</div>
		</form>
	</div>
   	<div th:replace="footer :: footer"></div>
</body>
</html>