<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ajout d'utilisateur</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
    	p.hidden { display: none; }
    </style>
    <script type="text/javascript">
		function night() {
			var form = document.getElementById('form');
			var p1 = document.getElementById("p1");
			var p2 = document.getElementById("p2");
    		if (document.getElementById('check').checked) {
    			p1.style.display = "block";
        		p2.style.display = "block";
    		} else {
    			p1.style.display = "none";
            	p2.style.display = "none";
			}
		}
    </script>
</head>
<body>
	<h1>Utilisateur</h1>
    <form action="#" id="form" th:action="@{/add/user}" th:object="${user}" method="post">
    	<p>Nom : <input type="text" th:field="*{lastName}" /></p>
        <p>Prénom : <input type="text" th:field="*{firstName}" /></p>
        <p>Date de naissance : <input type="date" th:field="*{birthStr}" /></p>
        <p>Email : <input type="email" th:field="*{email}" /></p>
        <p>Sujet : <input type="checkbox" id="check" th:field="*{subject}" value="true" onclick="night();"/></p>
        <p id = "p1" class="hidden">Heure de couché habituelle : <input type="time" th:field="*{sleepStart}"/></p>
        <p id = "p2" class="hidden">Heure de levé habituelle : <input type="time" th:field="*{sleepEnd}"/></p>
        <p><input type="submit" value="Valider" /> <input type="reset" value="Reset" /></p>
    </form>
    <p><a href="/add/role">Rôle</a></p>
    <p><a href="/add/user">Utilisateur</a></p>
    <p><a href="/add/device">Capteur</a></p>
    <p><a href="/add/link">Liens entre utilisateurs</a></p>
</body>
</html>